/* You can add global styles to this file, and also import other style files */
body {
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  background: #E8F5E9;
  justify-content: center;
  align-items: center;
}
